
.home-page{
    background-image: url('../assets/placeholder-image.jpg');
    background-repeat: no-repeat; background-size: cover; background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 min-height: 100dvh;
 width: 100%;
 font-family: Arial , Helvetica, sans-serif;
}

.home-page h1{
font-family: Arial Black, Helvetica, sans-serif;
font-size: 90px;
text-transform: uppercase;
text-align: center;
margin-bottom: 0;
}

.home-bio{
    font-weight: bold;
    font-size: 17px;
}

.home-page ul{
    padding: 0;
  display: flex;
  justify-content: space-between;
 list-style: none;
}

.home-link{
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.5s ease-in-out;
}

.home-link:hover{
    font-size: 27px
}

/* Responsive Code */

@media screen and (max-width: 850px) {
    .home-page h1{
        font-size: 70px;
    }
  }
  @media screen and (max-width: 660px) {
    .home-page h1{
        font-size: 50px;
    }
  }
  @media screen and (max-height: 450px) {
    .home-page h1{
        font-size: 60px;
    }
  }