/* About Section Styles */

.work-page-container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-section{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 60%;
}

.about-section h2, .about-section h3{
    font-family: Arial Black, Helvetica, sans-serif;
}

.skills-container{
    display: flex;
    flex-direction: row;
}
.skills-container li{
    list-style: square;
}
.work-section{
    width: 60%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.work-section h3{
    font-family: Arial Black, Helvetica, sans-serif;
    text-align: left;
}

/* Responsive Code */
@media screen and (max-width: 900px) {
.skills-container{
    flex-direction: column;
}
.about-section, .work-section{
    width: 85%;
}
  }

  @media screen and (max-width: 600px) {
.about-section, .work-section{
    width: 95%;
}
  }

  /* Work Section Styles */

  .work-section h1{
    font-family: Arial Black, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 40px;
      animation: autoShow both;
    animation-timeline: view(70% 5%);
  }

/* .work-img{
    background-position: center;
 width: 100%;
      height: 60dvh;
       background-repeat: no-repeat;
    background-size: contain;
  
} */
@keyframes autoShow{

    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


